<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="RE_INT_IE_CoreConnectionString" connectionString="Data Source=vpro-sql1;Initial Catalog=RE_INT_IE_Core;User ID=ls" providerName="System.Data.SqlClient"/>
    <add name="RE_INT_IE_CoreConnectionStringEmployees" connectionString="Data Source=vpro-sql1;Initial Catalog=RE_INT_IE_Core;Persist Security Info=True;User ID=ls;Password=ls180717" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <authentication mode="Windows"/>
    <authorization>
      <deny users="?"/>
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>